/*!
Pure v0.5.0-rc-1
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yui/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v1.1.3 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

.content-subhead {
    margin: 8px 0 20px 0;
    font-weight: normal;
    color: #888;
    white-space: nowrap;
}

.divider-container {
    clear: both;
    padding-top: 8px;
}

hr.divider {
    border: 0;
    width: 600px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.125), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.125), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.125), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.125), rgba(0,0,0,0)); 
}

.cv-button {
    text-align: center;
}

.center {
    text-align: center;
    margin: 40px auto;
}

.resume h3 {
    font-family: "fontin_regular";
}

.resume-divider-container {
    clear: both;
    padding: 0;
}

hr.resume-divider {
    border: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.resume-entry {
    border-spacing: 10px;
    font-family: "fontin_regular";
    font-size: 0.85em;
    font-weight: 400;
    color: #000;
}

.resume-date,
.resume-date-border {
    font-family: "fontin_smallcaps";
    font-size: 1.3em;
    padding: 0 7px 0 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.resume-date-border {
    border-bottom: 1px solid #000;
}

.resume-details {
    margin-left: 30px;
}

.resume-details li {
    list-style-type: none;
    /*font-size: 1.25em;*/
}

.resume-details p {
    margin-bottom: 0;
}

.resume-details h2 {
    font-family: "fontin_regular";
    font-weight: normal;
    margin: 0;
    font-size: 1.3em;
}

.resume-details b {
    font-family: "fontin_smallcaps";
    font-weight: 400;
}

.resume-section {
    font-family: "geosanslightregular";
    margin: 40px 0 5px 0;
    font-weight: normal;
    color: #888;
    white-space: nowrap;
    font-size: 1.4em;
}

@media (min-width: 550px) {
    .resume-date,
    .resume-date-border {
        width: 210px;
        display: table-cell;
        text-align: right;
        font-size: 1.3em;
    }
    .resume-date-border {
        border-right: 1px solid #000;
        border-bottom: none;
    }
    .resume-details {
        display: table-cell;
        margin-left: 0;
    }
    .resume-section {
        font-size: 1.7em;
    }
}

.media {
    clear: both;
    max-width: 820px;
    margin: 10px auto;
    color: #333;
    text-align: center;
    padding: 0.5em 0 0 0;
}

.icon-linkedin,
.icon-youtube,
.icon-github {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
}
.icon-linkedin:hover,
.icon-youtube:hover,
.icon-github:hover {
    background-position: bottom right;
}
.icon-github {
    background: transparent url('../images/strips/github.png') top left no-repeat;
}
.icon-youtube {
    background: transparent url('../images/strips/youtube.png') top left no-repeat;
}
.icon-linkedin {
    background: transparent url('../images/strips/linkedin.png') top left no-repeat;
}

@media (min-width: 400px) {
    .menu-heading {
        font-size: 3em;
    }
    .custom-menu ul {
        width: auto;
    }
    .custom-menu li {
        display: inline-block;
    }
    .custom-menu li a {
        display: inline-block;
        margin: 0 15px;
        border: none;
        background-color: transparent;
    }
    .custom-menu li a:hover,
    .custom-menu li a:focus {
        color: #6FBEF3;
    }
}

@media (min-width: 670px) {
    .custom-menu {
        text-align: left;
    }
    .menu-heading {
        display: inline-block;
    }
    .custom-menu ul {
        float: right;
        margin-top: 2em;
    }
    .media {
        text-align: right;
    }
}



.youtube {
    position: relative;
    cursor: pointer;
    padding-bottom: 56.25%;
}

.youtube img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.youtube .play {
    background: url('play.png') no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}




@media (min-width: 600px) {
    .half-break {
        display: none;
    }
    .img-strip-cell {
        width: 25%;
    }
}
